name: C++ CI Pipeline

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build-and-test:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3

    - name: Install Dependencies
      run: |
        sudo apt-get update
        sudo apt-get install -y cmake g++ libomp-dev python3-dev

    - name: Configure CMake
      run: cmake -S . -B build

    - name: Build
      run: cmake --build build --config Release

    - name: Run Unit Tests
      working-directory: build
      run: ctest --output-on-failure

    - name: Python Integration Test (Sanity Check)
      run: |
        pip install numpy matplotlib
        # Add build dir to python path so it finds gravity_core.so
        export PYTHONPATH=$PYTHONPATH:$(pwd)/build
        python tests/benchmark.py --N 100 --STEPS 10
